::ng-deep .modal-content {
    margin: 20px 0;
    background: #1B1B21;
    border: 1px solid #262A33;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 20px;
}

::ng-deep .modal-header {
    display: none;
}

::ng-deep .modal-footer {
    display: none;
}

::ng-deep .modal-content .modal-body {
    background-color: #26262E !important;
}

.border-custom {
    border: 2px solid #3D3D4A !important;
}

.buddy-leaderboard-btn {
    background: #26262E;
    border-radius: 2px;
    border: 2px solid #BA973F !important;
    padding: 15px;
}

.buddy-leaderboard-btn:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid #BA973F !important;
}

.leaderboardTable th:first-child {
    width: 90%;
}

.leaderboardTable th:nth-child(2) {
    width: 10%;
}

.close-leaderboard-modal {
    position: absolute;
    right: 12px;
}