<app-header></app-header>
<div id="wrapper" class="wrapper py-4">
    <div class="container">
        <app-advertise-slider></app-advertise-slider>
        <div class="bb-brawls-section mt-4">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-self-center">
                    <h1 class="rubik-bold text-white text-center text-uppercase mb-0">
                        LeaderBoard
                    </h1>
                </div>
            </div>

            <div class="allFeaturedlosingSoon p-md-4 p-sm-2 p-2" *ngIf="scoreLeaderBoard?.length > 0; else noHistoryFound">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-dark mb-0">
                                <thead>
                                    <tr>
                                        <th class="rubik-bold font16">Rank</th>
                                        <th class="rubik-bold font16">Player Name</th>
                                        <th class="rubik-bold font16">Buddy Bucks Won</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let player of scoreLeaderBoard" [ngClass]="{'highlightTableColor': _id == player.buddy_id}">
                                        <td class="rubik-regular font16" *ngIf="player.id <= 3"><img [src]="player.win_img" class="img-fluid"></td>
                                        <td class="rubik-regular font16 pl-4" *ngIf="player.id > 3">{{player.id}}</td>
                                        <td class="rubik-regular font16">
                                            <div class="d-flex" [class.disabled]="_id === player.buddy_id">
                                                <img [src]="player.image" onError="this.src='assets/images/user.svg'" class="img-fluid mr-3 score-player-image align-self-center cursor-pointer" (click)="openLeaderBoardModel(player)">
                                                <div class="playerList">
                                                    <p class="m-0 align-self-center rubik-regular font21 font-weight-300">{{player.rank}}</p>
                                                    <p class="m-0 align-self-center rubik-regular cursor-pointer" (click)="openLeaderBoardModel(player)">{{player.name}}</p>
                                                    <p class="m-0 align-self-center text-theme-yellow">10,000 Buddy Bucks</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="rubik-regular font16  text-left">{{player.buddy_buck | number:'1.0-0'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- <div class="mt-4 text-center">
                                <ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="1" [boundaryLinks]="true">
                                </ngb-pagination>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #noHistoryFound>
        <app-no-data-found></app-no-data-found>
    </ng-template>
</div>
<app-footer></app-footer>