<div class="auth-page auth-bg">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-11 col-11 px-md-3 px-md-0 px-0">
                <div class="auth-full-page-content d-flex">
                    <div class="w-100">
                        <div class="d-flex flex-column h-100">
                            <div class="auth-content my-auto border-bb">
                                <div class="border-bb-top-bottom-shape">
                                    <div class="text-center">
                                        <img src="assets/images/logo.svg" class="img-fluid">
                                        <h2 class="mt-3 mb-0 rubik-regular text-white">EMAIL VERIFICATION</h2>
                                    </div>
                                    <p class="text-center text-light-black rubik-light mt-3 mb-0">
                                        We’re sending a verification code to your email.
                                    </p>
                                    <p class="text-center text-light-black rubik-light mt-0">
                                        enter it below to create your account
                                    </p>
                                    <form [formGroup]="otp_form" class="mt-4 pt-0" (ngSubmit)="onSubmit()">
                                        <div class="mb-4">
                                            <input type="text" class="form-control BB-custom-control" id="code" placeholder="Verification Code" autocomplete="off" formControlName="otp">
                                            <div *ngIf="submitted && f['otp'].errors" class="text-danger font12">
                                                <div *ngIf="f['otp'].errors['required']">{{ status.VERIFICATION_REQUIRED.name }}</div>
                                                <div *ngIf="f['otp'].errors['maxlength'] || f['otp'].errors['pattern']">
                                                    {{ status.VERIFICATION_OTP_LEAST.name }}
                                                </div>
                                                <!-- <div *ngIf="f['otp'].errors['pattern']">invalid OTP Pattern
                                                </div> -->
                                            </div>
                                        </div>
                                        <div class="mb-0">
                                            <button class="btn-theme-yellow w-100" type="submit">
                                                SUBMIT
                                            </button>
                                        </div>
                                    </form>
                                    <div class="mt-4 text-center">
                                        <p class="text-white mb-0 rubik-light">
                                            Back to
                                            <a routerLink="/login" class="decoration text-theme-yellow rubik-semi-bold">
                                                Login
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end auth full page content -->
            </div>
        </div>
    </div>
</div>